<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

    <context:component-scan base-package="com.sachin.learning.spring"/>

    <bean id="lifecycleBean" class="com.sachin.learning.spring.extend.LifecycleBean" init-method="beanStart" destroy-method="beanEnd">
        <property name="name" value="lifecycleBean" />
    </bean>

    <bean id="awareBean" class="com.sachin.learning.spring.extend.AwareBean" />

    <bean id="animal" class="com.sachin.learning.spring.extend.AnimalFactoryBean">
        <property name="animal" value="Tiger" />
    </bean>

    <bean id="postProcessorBean" class="com.sachin.learning.spring.extend.PostProcessorBean" />

    <bean id="factoryPostProcessorBean" class="com.sachin.learning.spring.extend.FactoryPostProcessorBean" />

    <bean id="commonBean" class="com.sachin.learning.spring.extend.CommonBean">
        <property name="commonName" value="common" />
    </bean>

    <bean class="com.sachin.learning.spring.extend.InstantiationAwareBeanPostProcessorBean" />

</beans>